@font-face {
    font-family:"Sixtyfour";
    src: url(fonts/SixtyfourConvergence-Regular-VariableFont_BLED\,SCAN\,XELA\,YELA.ttf);
}
@font-face {
    font-family: "Oswald";
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}